.var
tmp
out
dist
node_modules
.vscode-test/
*.vsix
.DS_Store

# Java
*.class
# C
sample/C/main
sample/C/**/*.o
# C++
sample/C++/main
sample/C++/Makefile
sample/C++/CMakeFiles
sample/C++/cmake_install.cmake
sample/C++/CMakeCache.txt
# C#
sample/C#/bin
sample/C#/obj
# Rust
sample/Rust/target
