.vscode/**
.vscode-test/**
out/**
node_modules/**
script/*.py
src/**
publish.sh
贡献指南.md
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
